.ContainerCards {
    position: relative;
    top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0 auto;
    padding-bottom: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

.Card {
    border-radius: .5rem;
    padding: 1rem;
    background-color: white;
    min-height: 100px;
    color: black;
}

@media (max-width: 768px) {
    .ContainerCards {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 450px) {
    .ContainerCards {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

.Astronomer-container {
    border-radius: .5rem;
    background-color: #e0e0e065!important;
    box-shadow: -1px 3px 150px 0px rgb(255, 255, 255, 0.33);
    -webkit-box-shadow: -1px 3px 150px 0px rgb(255, 255, 255, 0.33);
    -moz-box-shadow: -1px 3px 150px 0px rgb(255, 255, 255, 0.33);
    color: black;
    margin-bottom: .5rem;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    min-width: min-content;
    margin-left: auto; 
    margin-right: auto;
    gap: 2rem;
}

.astronomer-img {
    transform: scaleX(-1);
    object-fit: contain;
    max-width: 80%;
    min-width: 20%;
}


.Astronomer-text {
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: .5rem;
    width: 50%;
    min-width: 30%;
    height: fit-content;
    text-align: center;
    font-size: larger;
    margin-top: 2rem;
    margin-bottom: 2rem;

    & p {
        text-align: center;
    }
}

@media (max-width: 950px) {
    .Astronomer-text{
        width: 90%;
    }
    
}

@media (max-width: 950px) {
    .Astronomer-container  {
        margin-left: 5%;
        margin-right: 5%;
        max-width: 95%;
        gap: 0%;
    }
    
}